.toy {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  width: 304px;
  height: 280px;
  border: 1px solid #278D9F;
  background-color: rgba(31, 112, 127, .3);
  backdrop-filter: blur(6px);
  cursor: pointer;
  font-family: 'Open Sans',
    sans-serif;
  font-size: 18px;
  padding: 16px;
  border-radius: 12px;
}

.toys {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.toy>span {
  margin: 0ch;
}

.arrow {
  display: flex;
  position: absolute;
  left: -8px;
  top: 210px;
}

.arrow-middle {
  top: 210px;
  width: 100px;
  height: 40px;
  background: #24C5DB;
  left: -8px;
}


.arrow-end {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 15px solid #24C5DB;
  right: -15px;
}


.toy-img {
  width: 90px;
  height: 112px;
  object-fit: contain;
  pointer-events: none;
  position: absolute;
  left: 8px;
  top: 40px;
  filter: drop-shadow(0 0 10px rgba(238, 221, 126, .8));
}

.toy-name {
  font-weight: bold;
  font-size: 20px;
}

#filter-checkbox {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 15px 10px;
  border: 1px solid #278D9F;
  border-radius: 5px;
  outline: 0;
  background-color: transparent;
  color: #278D9F;
}

.favorite-selected {
  background-color: #cbb77a;
}

.arrow-checkbox {
  display: none;
}


.arrow-end-selected {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 15px solid #cbb77a;
  right: -15px;
}

.toy {
  transition: 0.2s;
}

.selected-card {
  position: fixed;
  width: 684px !important;
  height: 500px;
  top: 20%;
  left: calc(50% - 437px);
  padding: 40px;
  border-radius: 6px;
  border: 1px solid #278D9F;
  background-color: rgba(31, 112, 127, .9);
  z-index: 1000;
  box-shadow: 0 0 1000px black;
  animation: move 0.7s ease-in-out;
}

.selected-card img {
  width: 420px;
  height: auto;
  filter: drop-shadow(0 0 50px rgba(238, 221, 126, .8));
  animation: animate 10s ease-in-out infinite;
}

.close {
  display: none;
  top: -20px;
  right: -20px;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

@keyframes move {
  from {
    left: -100%;
  }

  to {
    left: calc(50% - 437px);
  }
}

@keyframes animate {
  20% {
    margin-top: 10px;
  }

  40% {
    margin-left: 10px;
    transform: scaleX(1.1);
  }

  60% {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  80% {
    transform: scaleX(1);
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

.spruce-toy-img {
  cursor: grab;
  position: absolute;
  z-index: 1000;
}

.spruce-toy-img:active {
  cursor: move;
  cursor: grab;

}